<!DOCTYPE html>
<head>
	<title>BlueCSV</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="{{.ExternalURL}}/">BlueCSV</a>
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="{{.ExternalURL}}/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{.ExternalURL}}/faq">FAQ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{.ExternalURL}}/logout">Logout</a>
			</li>
	        </ul>
	</nav>

	<div class="container">
		<div class="row" style="margin-top: 2em">
		<div class="col-sm-6">
			<div class="card"><div class="card-body">
		<p class="lead">Please configure your report</p>
		<form action="{{.ExternalURL}}/form" method="post" enctype="multipart/form-data">
			<div class="form-group"><label for="col1">Column 1:</label>
			<input type="text" class="form-control" id="col1" name="col1" value="cn"></div>
			<div class="form-group"><label for="col2">Column 2:</label>
			<input type="text" class="form-control" id="col2" name="col2" value="departmentNumber"></div>
			<div class="form-group"><label for="col3">Column 3:</label>
			<input type="text" class="form-control" id="col3" name="col3"></div>
			<div class="form-group"><label for="col4">Column 4:</label>
			<input type="text" class="form-control" id="col4" name="col4"></div>
			<div class="form-group"><label for="col5">Column 5:</label>
			<input type="text" class="form-control" id="col5" name="col5"></div>
			<div class="form-group"><label for="col6">Column 6:</label>
			<input type="text" class="form-control" id="col6" name="col6"></div>
			<div class="form-group"><label for="csv">CSV File:</label>
			<input type="file" id="csv" name="csv"></div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
				</div></div>
		</div>
		<div class="col-sm-6">
			<h3>Instructions</h3>
			<p>Attributes can be specified in the fields to the left. As an example, two of the columns have fields in them already: <tt>cn</tt> and <tt>departmentNumber</tt>.</p>
			<p>Please upload only comma separated value files (.csv) when using BlueCSV. These can be made from Microsoft Excel, Numbers or your favorite spreadsheet software. Make sure that the unique identifiers (CruzIDs) are in the first column.</p>
			<p>CruzIDs with @ucsc.edu at the end will work just as fine as those without.</p>
			<p><table class="table">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Sample Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>departmentNumber</td>
						<td>ITS-Academic Divisional Computing</td>
					</tr>
					<tr>
						<td>ucscPersonPubAffiliation</td>
						<td>Staff</td>
					</tr>
					<tr>
						<td>roomNumber</td>
						<td>McHenry Bldg, Room 3116</td>
					</tr>
					<tr>
						<td>ucscPersonPubDivision</td>
						<td>Information Technology Services</td>
					</tr>
					<tr>
						<td>ucscPersonPubMailStop</td>
						<td>Education Department</td>
					</tr>
					<tr>
						<td>telephoneNumber</td>
						<td>831-502-7433</td>
					</tr>
					<tr>
						<td>cn</td>
						<td>Alexander Cosmo Martinez</td>
					</tr>
					<tr>
						<td>ucscPrimaryLocationPubOfficialName</td>
						<td>McHenry Library</td>
					</tr>
				</tbody>
			</table>

		</div>
		</div>
</body>
